.lol {
  position: relative;
}
.modal-box {
  position: fixed;

  top: 75px;
  left: 50%;
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: rgb(90, 89, 89) solid;
  border-radius: 10%;
  transform: translate(-50%);
  z-index: 1000;
}
.modal-h {
  margin-top: 100px;
  margin-bottom: 0;
}
.modal-p {
  margin-top: 0;
  margin-bottom: 0;
}
.modal-btn {
  margin-top: 50px;
  border-color: rgb(255, 0, 0);
}
.is-hiden {
  opacity: 0.2;
  pointer-events: none;
}
